<% title "Profil Erstellen" %>
<%= link_to "Zurück zur Seite", :back, :class => 'back-link' %>

<%= form_for(resource, :as => resource_name, :url => unlock_path(resource_name), :html => { :method => :post }) do |f| %>
  <%= devise_error_messages! %>

  <p><%= f.label :email, "E-Mail"   %><br />
  <%= f.text_field :email %></p>

  <p><%= f.submit "Erneut schicken" %></p>
<% end %>

<%= render :partial => "devise/shared/links" %>