<% title "Passwort vergessen" %>
<%= link_to "Zurück", :back, :class => 'back-link' %>

<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
  <%= devise_error_messages! %>

  <p><%= f.label :email, "E-Mail" %><br />
  <%= f.text_field :email %></p>

  <p><%= f.submit "Sende mir mein Passwort" %></p>
<% end %>

<%= render :partial => "devise/shared/links" %>