<%= error_messages_for(@pages) %>
<p>
	<%= f.label(:subject_id, "Rubrik") %><br />
	<%= f.select(:subject_id, @subjects.collect {|s| [s.name, s.id]}) %>
</p>
<p>
	<%= f.label(:name) %><br />
	<%= f.text_field(:name) %>
</p>
<p>
	<%= f.label(:permalink) %><br />
	<%= f.text_field(:permalink) %>
</p>
<p>
	<%= f.label(:position) %><br />
	<%= f.select(:position, 1..@page_count) %>
</p>
<p>
	<%= f.label(:visible, "Sichtbar?") %><br />
	<%= f.check_box(:visible) %>
</p>
